<div class="slim-header with-sidebar">
    <div class="container-fluid">
      <div class="slim-header-left">
        <h2 class="slim-logo"><a href="index.html">apcred<span>.</span></a></h2>
        <a href="" id="slimSidebarMenu" class="slim-sidebar-menu"><span></span></a>
      </div><!-- slim-header-left -->
      <div class="slim-header-right">
        <!--
           
        <div class="dropdown dropdown-a" data-toggle="tooltip" title="Activity Logs">
          <a href="" class="header-notification" data-toggle="dropdown">
            <i class="icon ion-ios-bolt-outline"></i>
          </a>
        </div>
        <div class="dropdown dropdown-b" data-toggle="tooltip" title="Notifications">
          <a href="" class="header-notification" data-toggle="dropdown">
            <i class="icon ion-ios-bell-outline"></i>
            <span class="indicator"></span>
          </a>
          

          <div class="dropdown-menu">
            <div class="dropdown-menu-header">
              <h6 class="dropdown-menu-title">Notificações</h6>
            </div>
            <div class="dropdown-list">
              
              <a href="" class="dropdown-link">
                <div class="media">
                  <img src="http://via.placeholder.com/500x500" alt="">
                  <div class="media-body">
                    <p><strong>Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p>
                    <span>October 03, 2017 8:45am</span>
                  </div>
                </div>
              </a>
              
              <a href="" class="dropdown-link">
                <div class="media">
                  <img src="http://via.placeholder.com/500x500" alt="">
                  <div class="media-body">
                    <p><strong>Mellisa Brown</strong> appreciated your work <strong>The Social Network</strong></p>
                    <span>October 02, 2017 12:44am</span>
                  </div>
                </div>
              </a>
              <a href="" class="dropdown-link read">
                <div class="media">
                  <img src="http://via.placeholder.com/500x500" alt="">
                  <div class="media-body">
                    <p>20+ new items added are for sale in your <strong>Sale Group</strong></p>
                    <span>October 01, 2017 10:20pm</span>
                  </div>
                </div>
              </a>
              <a href="" class="dropdown-link read">
                <div class="media">
                  <img src="http://via.placeholder.com/500x500" alt="">
                  <div class="media-body">
                    <p><strong>Julius Erving</strong> wants to connect with you on your conversation with <strong>Ronnie Mara</strong></p>
                    <span>October 01, 2017 6:08pm</span>
                  </div>
                </div>
              </a>
              <div class="dropdown-list-footer">
                <a href="page-notifications.html"><i class="fa fa-angle-down"></i> Show All Notifications</a>
              </div>
            </div>
          </div>
        
        -->
        </div>
        <div class="dropdown dropdown-c">
          <a href="#" class="logged-user" data-toggle="dropdown">
            <img src="http://via.placeholder.com/500x500" alt="">
            <span>Guilherme</span>
            <i class="fa fa-angle-down"></i>
          </a>
          <!-- <div class="dropdown-menu dropdown-menu-right">
            <nav class="nav">
              <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
              <a href="page-edit-profile.html" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
              <a href="page-activity.html" class="nav-link"><i class="icon ion-ios-bolt"></i> Activity Log</a>
              <a href="page-settings.html" class="nav-link"><i class="icon ion-ios-gear"></i> Account Settings</a>
              <a href="page-signin.html" class="nav-link"><i class="icon ion-forward"></i> Sign Out</a>
            </nav>
          </div>dropdown-menu -->
        </div><!-- dropdown -->
      </div><!-- header-right -->
    </div><!-- container-fluid -->

  <div class="slim-body">
    <div class="slim-sidebar">
      

      <label class="sidebar-label" style="margin-top: 20px;">MENU</label>
      
      <ul  class="nav nav-sidebar">
        <li class="sidebar-nav-item">
          <a routerLink="/login" class="sidebar-nav-link">Inicial</a>
        </li>
        <li class="sidebar-nav-item">
          <a routerLink="/checkdiario" class="sidebar-nav-link">Tarefas Diárias</a>
        </li>
        <li class="sidebar-nav-item">
          <a routerLink="/checksemanal" class="sidebar-nav-link">Tarefas Semanais</a>
        </li>
        <li class="sidebar-nav-item">
          <a routerLink="/restaurante" class="sidebar-nav-link">Restaurantes</a>
        </li>

        <label class="sidebar-label" style="margin-top: 20px;">CONFIGURAÇÕES</label>
        <li class="sidebar-nav-item">
          <a routerLink="/usuario" class="sidebar-nav-link">Usuários</a>
        </li>
        <li class="sidebar-nav-item">
          <a routerLink="/perfil" class="sidebar-nav-link">Perfil de Acesso</a>
        </li>
      </ul>
    </div><!-- slim-sidebar -->
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">APCred</a></li>
            <li class="breadcrumb-item active" aria-current="page">Empresas Recebedoras</li>
          </ol>
          <h6 class="slim-pagetitle">APCRED - EMPRESAS RECEBEDORAS</h6>
        </div><!-- slim-pageheader -->

        <div class="section-wrapper">

          <div class="row">
            <div class="col-12">
              <label class="section-title">DADOS DA EMPRESA</label> <hr> 
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Razão Social</label> <span class="tx-danger">*</span> 
                    <input id="lastname" name="lastname" type="text" class="form-control">
                  </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <label class="form-control-label">CNPJ:</label> <span class="tx-danger">*</span> 
                <input type="text" placeholder="Digite o CPF/CNPJ da empresa" class="form-control">
              </div>
            </div> 
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label">Nome Fantasia:</label> <span class="tx-danger">*</span> 
                <input id="lastname" name="lastname" type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Api User PagSeguro</label> <span class="tx-danger">*</span> 
                    <input id="lastname" name="lastname" type="text" class="form-control">
                  </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Api Token PagSeguro</label> <span class="tx-danger">*</span> 
                <input id="lastname" name="lastname" type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-1">
              <div class="form-group">
                <label class="ckbox ckbox-success mg-t-15" style="position: relative; top: 25px;"><input type="checkbox"> <span>Isento</span></label>
              </div>
            </div> 
            <div class="col-lg-5">
              <div class="form-group">
                <label class="form-control-label">Inscrição Estadual</label> 
                <input id="lastname" name="lastname" type="text" class="form-control">
              </div>
            </div> 
            <div class="col-lg-1">
              <div class="form-group">
                <label class="ckbox ckbox-success mg-t-15" style="position: relative; top: 25px;"><input type="checkbox"> <span>Isento</span></label>
              </div>
            </div> 
            <div class="col-lg-5">
              <div class="form-group">
                <label class="form-control-label">Inscrição Municipal</label> 
                <input id="lastname" name="lastname" type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2">
              <div class="form-group">
                <label class="form-control-label">CEP</label> 
                  <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-10">
              <div class="form-group">
                <label class="form-control-label">Endereço</label> 
                <input id="lastname" name="endereco" type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Estado</label> 
                <input id="lastname" name="cep" type="text" disabled="disabled" class="form-control">
              </div>
            </div> 
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Cidade</label> 
                <input id="lastname" name="endereco" type="text" disabled="disabled" class="form-control">
              </div>
            </div> 
          </div> 
          
          <div class="row">
            <div class="col-lg-12">
              <button disabled="disabled" class="btn btn-insumo pull-right col-lg-2" style="margin-top: 25px; margin-bottom: 50px;">ADICIONAR</button>
            </div>
          </div>

        


          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table mg-b-0 tx-12 table-striped">
                  <thead>
                    <tr class="tx-10">
                      <th class="pd-y-5">ID</th>
                      <th class="pd-y-5">CNPJ</th>
                      <th class="pd-y-5">RAZÃO SOCIAL</th>
                      <th class="pd-y-5">NOME FANTASIA</th>
                      <th class="pd-y-5">AÇÕES</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span>01</span>
                      </td>
                      <td>
                        <span>33.950.678/0001-94</span>
                      </td>
                      <td>
                        <span>EMPRESA 1</span>
                      </td>
                      <td>
                        <span>NOME FANTASIA EMPRESA 01</span>
                      </td>
                      <td>
                        <span>
                          <a href="#" title="Editar"><i class="icon ion-compose"  style="font-size: 20px; margin-right: 5px; color: #3EC2CF !important;"></i></a>
                          <a href="" title="Excluir" data-toggle="modal" data-target="#excluirUsuarioEquipe"><i class="fa fa-close" style="font-size: 20px; margin-right: 5px; color:#dc3545 !important"></i></a>
                        </span>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div><!-- table-responsive -->
            </div>
          </div>
       </div>
        


      </div><!-- container -->
      <div id="excluirUsuarioEquipe" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
              <h4 class="tx-danger mg-b-20">Excluir Usuário</h4>
              <p class="mg-b-20 mg-x-20">Você tem certeza que deseja excluir este usuário?</p>
              <button type="button" class="btn btn-danger pd-x-25" data-dismiss="modal" aria-label="Close">Sim, Excluir</button>
            </div><!-- modal-body -->
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->
      <div class="slim-footer">
        <div class="container">
          <p>Copyright 2020 &copy; Todos os direitos reservados.</p>
          <p>Desenvolvido por: <a href="">WBCTech</a></p>
        </div><!-- container -->
      </div><!-- slim-footer -->
    </div><!-- slim-mainpanel -->
  </div><!-- slim-body -->
