<div class="d-md-flex flex-row-reverse">
    <div class="signin-right">

      <div class="signin-box">
        <h2 class="signin-title-primary">Bem-Vindo! </h2>
        <h3 class="signin-title-secondary">Acesse para continuar.</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Digite seu email" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        </div>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">First Name is required</div>
      </div>
        <div class="form-group mg-b-50">
          <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Digite sua senha">
        </div><!-- form-group -->
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
        <p class="mg-b-0">Esqueceu sua senha? <a href="#" data-toggle="modal" data-target="#recoveyPassword">Clique Aqui!</a></p>
        <div class="form-group">
        <button class="btn btn-block btn-insumo">Entrar</button><br/>
      </div>
      </form>
      </div>
   
    </div><!-- signin-right -->
    <div class="signin-left">
      <div class="signin-box">
        <img src="img/logo_string.png" alt="logo stringcleasing" style="margin-bottom: 25px;">
        <h4 class="slim-logo"><a href="index.html">sistema de<br/>gestão inteligente<span>.</span></a></h4>

        <p>String Cleasing é uma plataforma de gestão interna, que possibilita o usuário fazer
          diversos controles e ações direto de um sistema gestor.
        </p>

        <p>Através da nossa plataforma você vai poder cadastrar usuários, gerenciar permissões
          de acesso, gerenciar rotinas do dia e diversas outras funcionalidades.
        </p>

        <p class="tx-12">&copy; Copyright 2020. Todos os Direitos Reservados.</p>
      </div>
    </div><!-- signin-left -->
  </div>
  


